@font-face {
  font-family: Meta;
  src: url('/assets/meta.woff2');
}
html {
  color: #w333333;
  font-family: 'Meta';
  font-size: 30pt;
}
svg {
  position: relative;
  top: 14px;
}
.header {
  bottom: 0;
  color: hsl(0, 0%, 85%);
  font-size: 16pt;
  left: 0;
  padding-bottom: 20px;
  position: fixed;
  text-align: right;
  text-transform: uppercase;
  width: calc(100vw - 30px);
}
.list {
  display: grid;
  grid-auto-columns: 1fr;
  padding: 20px 30px;
}
.order {
  grid-column: 1;
  padding: 10px 0;
}
.collected {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  transform-origin: center;
  border: 2px solid #333333;
  border-radius: 50%;
  pointer-events: none;

  top: 1px;
  left: 4px;
  margin-right: 10px;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.collected:before {
  content: '';
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #333333;
  position: absolute;
  transform: rotate(45deg);
  top: 13px;
  left: 9px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
.collected:after {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #333333;
  position: absolute;
  transform: rotate(305deg);
  top: 16px;
  left: 10px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
.order[data-collected="1"] .collected:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.order[data-collected="1"] .collected::after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.order[data-collected="1"] .collected {
  background-color: #333333;
  transform: scale(1.25);
}
.order .eggs {
  color: #cccccc;
}
