body {
  font-family: 'Athiti', sans-serif;
  font-size: 1em;
  margin: 0;
}

.application {
  height: 100vh;
}

.application__block {
  left: 50%;
  max-width: 50%;
  position: absolute; /* Stack blocks upon each other */
  top: 50%;
  transform: translate(-50%, -50%);
}

.application__block--hidden {
	display: none;
}
