* {
  cursor: none;
}

.ui {
  background: url('kiosk.png') no-repeat 50% 580px #121212;
  bottom: 0;
  color: #ffffff;
  font-family: 'VT323', monospace;

  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.view,
.queue {
  align-content: center;
  display: grid;
  position: absolute;
  top: 200px;
  width: 100vw;
}

.view {
  opacity: 1;
}

.queue {
  opacity: 0;
}

.tag {
  opacity: 0;
  position: fixed;
  top: -2000px;
}

@keyframes upwardsview {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes upwardsqueue {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes downwardsview {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes downwardsqueue {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.upwards .view {
  animation: upwardsview 250ms linear forwards;
}

.upwards .queue {
  animation: upwardsqueue 250ms linear forwards;
}

.downwards .view {
  animation: downwardsview 250ms linear forwards;
}

.downwards .queue {
  animation: downwardsqueue 250ms linear forwards;
}

h1 {
  font-size: 80pt;
  font-weight: initial;
  margin: 20px;
}

p {
  font-size: 40pt;
  margin: 0;
}
/**
.form {
  pointer-events: none;
  position: fixed;
  top: 200%;
}
